[submodule "docs/themes/doks"]
	path = docs/themes/doks
	url = https://github.com/h-enk/doks.git
[submodule "docs/themes/dot"]
	path = docs/themes/dot
	url = https://github.com/themefisher/dot-hugo-documentation-theme.git
