# This is a basic workflow to help you get started with Actions
name: Publish to NPM

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches:
      - dev
  release:
    types:
      - published

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "18"
          registry-url: https://registry.npmjs.org/

      - run: npm ci

      - run: npm start

      - name: Publish release
        run: npm publish --access public
        if: startsWith(github.ref, 'refs/tags/v')
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

      - name: Update the package version
        if: github.ref == 'refs/heads/dev'
        run: node scripts/update-package-version.js $GITHUB_RUN_ID

      - name: Publish beta release
        run: npm publish --tag next --access public
        if: github.ref == 'refs/heads/dev'
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
